/********************************************/
/*Clases reutilisables*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/********************************************/
/*Seccion del header*/
.header__logo {
  width: 15rem;
  height: 3.5rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__title {
  max-width: 300px;
  font-size: var(--font-lg);
  color: var(--just-white);
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: var(--margin);
}

.header__text {
  max-width: 300px;
  font-size: var(--font-sm);
  color: var(--just-white);
  font-weight: 400;
  margin: 0 auto;
}

.header__btnPlans {
  width: 24.2rem;
  height: 4.8rem;
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--warn-black);
  gap: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #faf8f7;
  box-shadow: 0 4px 8px 0 #59491e29;
  position: absolute;
  bottom: -2.4rem;
  left: calc(50% - 11rem);
  transform: translateX(-10px);
}

.header__btnPlans img {
  width: 1.5rem;
}

/********************************************/
/*Seccion de bitcoins*/

.bitcoins__logo {
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.bitcoins__imgBitcoin {
  width: 100%;
  height: 100%;
}

.bitcoins__title {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--warn-black);
  margin-bottom: var(--margin);
}

.bitcoins__text {
  max-width: 345px;
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--gray-text);
  margin: 0 auto;
}

/********************************************/
/*contenedor de graficos*/
.coins {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
  margin-top: 5rem;
  overflow: hidden;
}

/*gráfico de plataformas*/
.coins__contentGraphics {
  width: 27rem;
  height: 25rem;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
}

.coins__contentGraphics--translate {
  transform: translateX(-200%);
}

/*grafico de plataforma y comisiones*/
.coins__contentGraphics--comisions {
  position: absolute;
  top: 0;
  left: calc(50% - 133px);
  margin-top: 0;
  transform: translateX(200%);
  transition: transform 0.3s;
}

.coins__contentGraphics--active {
  transform: translateX(0);
}
/*Estilos generales de los gráficos */
.coins__title {
  font-size: var(--font-md);
  font-weight: 600;
  position: relative;
  left: -5rem;
  color: var(--orange-text);
  margin-bottom: 1rem;
}
.coins__title--blue {
  color: var(--color-blue);
}

.coins__graphic {
  width: 22rem;
  height: 16rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  background-color: var(--just-white);
  border-radius: 0.8rem;
}
.coins__platform {
  font-size: var(--font-2md);
  font-weight: 500;
  color: var(--gray-text);
  border: 2px solid var(--main-color);
  transition: border 0.3s ease-in-out;
}

.coins__price {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--gray-text);
  border: 2px solid var(--main-color);
  transition: border 0.3s ease-in-out;
}
.coins__price span {
  margin-left: 1rem;
}

.coins__arrow {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
  width: 1.3rem;
}

.coins__updated {
  width: 19rem;
  height: 3.2rem;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ffe9d4;
  border-radius: 0.8rem;
}

.coins__updated span {
  font-weight: bold;
  margin-right: 0.7rem;
}

.coins__updated--blue {
  background-color: #e7f5ff;
}

.coins__arrow--left {
  left: 0;
  transform: rotateY(180deg);
}

/********************************************/
/*Seccion de productos*/
.products__batata {
  position: absolute;
  top: -1.3rem;
  left: calc(50% - 2.1rem);
  width: 4.2rem;
  height: 2.6rem;
}

.products__title {
  font-size: var(--font-lg);
  color: var(--just-white);
  margin-bottom: var(--margin);
}
.products__text {
  font-size: var(--font-sm);
  color: var(--gray-text-2);
}

.products__contentCards {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  margin: 0 auto;
  margin-top: var(--margin);
}

.products__card {
  height: 15.3rem;
  max-width: 34.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: left;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #282623;
  box-shadow: 0 4px 8px 0 #00000029;
}

.products__cardIcono {
  width: 2.5rem;
  height: 2.5rem;
}

.products__cardTitle {
  font-size: var(--font-md);
  color: var(--just-white);
}

.products__cardText {
  font-size: var(--font-sm);
  color: var(--gray-text-2);
  line-height: 1.8rem;
}
/********************************************/
/*Seccion de imagen de fondo*/

.background__title {
  max-width: 24rem;
  text-align: center;
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--just-white);
  margin: 0 auto;
  padding-top: 5rem;
}

/********************************************/
/*Seccion de planes*/

.plans__title {
  font-size: var(--font-lg);
  color: var(--warn-black);
  margin-bottom: var(--margin);
}

.plans__text {
  font-size: var(--font-sm);
  color: var(--gray-text);
  line-height: 1.8rem;
}

.plans__container {
  position: relative;
  width: 90%;
  max-width: 28rem;
  height: 31rem;
  margin: 5rem auto;
  box-shadow: 0 4px 8px 0 #59491e29;
  border-radius: 0.8rem;
}

.plans__swiper {
  width: 100%;
  height: 100%;
}

.plans__swiper .swiper-slide {
  width: 100%;
  max-width: 28rem;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--just-white);
  border-radius: 0.8rem;
  /* margin: 0 auto; */
  padding: 2rem 1rem;
  overflow: hidden;
}
.plans__swiperRecommended {
  width: 18rem;
  height: 2.4rem;
  position: absolute;
  right: -2.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--just-white);
  background-color: var(--orange-text);
  transform: rotate(35deg) translate(10px, -2px);
}
.plans__swiperRecommended--blue {
  background-color: var(--color-blue);
}
.plans__swiperRecommended--grey {
  background-color: var(--gray-text);
}

.plans__swiperPay {
  font-size: var(--font-sm);
  font-weight: 600;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.plans__swiperPrice {
  font-size: 5.5rem;
}

.plans__swiperPrice span {
  font-size: var(--font-sm);
  position: relative;
  top: -3rem;
  left: 0rem;
  margin-right: 1rem;
}
.plans__swiperDescription {
  font-size: var(--font-sm);
  margin-top: 1rem;
}

.plans__swiperChoose {
  width: 22rem;
  height: 4.8rem;
  justify-content: space-evenly;
  position: absolute;
  left: calc(50% - 22rem);
  bottom: 1.5rem;
  font-size: var(--font-sm);
  font-weight: 700;
  color: var(--orange-text);
  border: 2px solid var(--orange-text);
  border-radius: 0.5rem;
  transform: translateX(11rem);
}
.plans__swiperChoose--blue {
  border-color: var(--color-blue);
  color: var(--color-blue);
}
.plans__swiperChoose--grey {
  border-color: var(--gray-text);
  color: var(--gray-text);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  position: absolute;
  font-size: 3rem;
  font-weight: 700;
  color: var(--warn-black);
}
.swiper-button-prev:after {
  left: -3.5rem;
}
.swiper-button-next:after {
  right: -3.5rem;
}

/********************************************/
/*Pie de pagina*/

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__item {
  list-style-type: none;
}

.footer__link {
  font-size: var(--font-sm);
  color: var(--just-white);
}

.footer__batata {
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.footer__link--small {
  font-size: 0.9rem;
}
