.l-header {
  height: 40rem;
}
.header__title {
  font-size: var(--font-3lg);
  max-width: 440px;
}

.header__text {
  font-size: var(--font-2md);
}

.header__btnPlans {
  width: 26rem;
  height: 5rem;
  font-size: var(--font-md);
  gap: 1.5rem;
  border-radius: 0.5rem;
  bottom: -2.5rem;
  left: calc(50% - 13rem);
  transform: translateX(-9px);
  cursor: pointer;
}
/********************************************/
/*Seccion de bitcoins*/
.bitcoins__logo {
  width: 32rem;
  height: 32rem;
}

.bitcoins__title {
  font-size: var(--font-2lg);
}

.bitcoins__text {
  max-width: 380px;
}

/********************************************/

/*gráfico de plataformas*/
.coins__contentGraphics {
  width: 31rem;
  height: 29rem;
}

.coins__graphic {
  width: 25rem;
  height: 20rem;
}

.coins__arrow {
  width: 1.7rem;
  cursor: pointer;
}

/********************************************/
/*Seccion de productos*/

.products__batata {
  top: -2rem;
  left: calc(50% - 4rem);
  width: 8rem;
  height: 4rem;
  transition: transform 0.4s ease-in-out;
}

.products__title {
  font-size: var(--font-2lg);
}

.products__contentCards {
  margin-top: 5.5rem;
}

.products__card {
  height: 19rem;
  max-width: 35.4rem;
  padding: 2rem;
}

.products__cardIcono {
  width: 2.8rem;
  height: 2.8rem;
}

/********************************************/
/*Seccion de imagen de fondo*/

.l-background {
  height: 48rem;
  background-attachment: fixed;
}
.background__title {
  font-size: var(--font-3lg);
}

/********************************************/
/*Seccion de planes*/

.plans__title {
  font-size: var(--font-2lg);
}

.plans__text {
  font-size: var(--font-md);
}

.plans__container {
  max-width: 1000px;
  height: 40rem;
  margin: 7rem auto;
  box-shadow: none;
  padding-bottom: 5rem;
}

.swiper-wrapper {
  align-items: center;
  justify-content: space-evenly;
}

.plans__swiper .swiper-slide {
  max-height: 90%;
  margin: 0 0 !important;
  border-radius: 0.9rem;
  box-shadow: 0 4px 8px 0 #59491e29;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
/********************************************/
/*Pie de pagina*/
.footer__link {
  /* font-size: var(--font-md); */
}

.footer__batata {
  width: 6.4rem;
}

.footer__link--small {
  font-size: var(--font-sm);
}
